/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a{
	color: #555;
	text-decoration: none;
}


a:hover{
	color: #000;
}
#wrapper{
	width: 800px;
	margin: 0px auto;
}


#header{
	font-size: 150%;
	font-weight: bold;
	margin: 10px;
	padding: 5px;
	width: 100%;
	border-bottom: 1px solid #aaa;
}

#navigation{
	font-size: 80%;
/*	position: relative;*/
/*	right: 10px;*/
/*	top: 5px;*/
	margin-top: 0;
	float: right;
	display: inline-block;
}

#navigation li{
	display: inline-block;
	list-style: none;
	padding: 3px;
	margin: 5px;
}

#header-title{
	font-size: 200%;
}

#content{
	margin: 10px;
	padding: 10px;	
	position: relative;
}

#footer{
	text-align: right;
	margin: 10px 0px;
}

#new-deck{
	margin: 10px;
	width: 100%;
	text-align: right;
}


#decks{
	margin: 20px;
}

.deck{
	display: inline-block;
	border: 2px solid #ccc;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	width: 150px;
}

.deck-details{
	padding: 5px 0px;
}
.deck-edit{
	font-size: 80%;
}

.deck-title{
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
}

.deck-count{
	display: inline-block;
	font-size: 150%;
	background: #aaa;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding: 3px;
}

#deck-flashcards{
	display: block;
	margin:20px;
}

#deck-empty{
	color: #aaa;
	font-size: 150%;
	text-align: center;
	padding: 20px;
}

.deck-flashcard{
	margin:10px;
	padding: 10px;
	display: inline-block;
	width: 500px;
}

.deck-flashcard-tools{
	display: inline-block;
}

.deck-flashcard-stats{
	margin: 20px 5px;
	vertical-align: top;
	display: inline-block;
}

#deck-toolbar{
	font-weight: bold;
	font-size: 120%;
	position : absolute;
	top: -10px;
	right: 0px;
	padding: 0px;
	margin: 15px 0px;
}

#deck-toolbar li{
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
	margin: 0px;
}

.deck-flashcard-viewcount{
	font-weight: bold;
	font-size: 150%;
	padding: 5px;
}

.subscript{
	font-size: 50%;
}

.deck-flashcard-a{
	border-radius: 5px 5px 0px 0px;
	text-align: left;
	color: white;
	padding: 10px;
	background: #aaa;
}

#form-flashcard-a{
	border-radius: 5px 5px 0px 0px;
	display: block;
	text-align: left;
	color: white;
	padding: 10px;
	background: #aaa;
	width: 475px;
	margin: 0px;
}


.deck-flashcard-b{
	border-radius: 0px 0px 5px 5px;
	text-align: left;
	color: white;
	padding: 10px;	
	background: #555;
}

#form-flashcard-b{
	margin: 0px;
	border-radius: 0px 0px 5px 5px;
	width: 475px;
	display: block;
	text-align: left;
	color: white;
	padding: 10px;	
	background: #555;
}


#deck-flashcard-new{
	padding: 0px;
	margin: 20px;
}

#deck-flashcard-submit{
	display: inline-block;
}


#deck-edit{
	margin: 5px;
}

#deck-edit a{
	display: inline-block;
	margin: 5px;
}

.deck-creator{
	clear: both;
	display: inline-block;
	font-size: 80%;
	color: #aaa;
}

/* Flashcard*/

#flashcard, .flashcard{
	width: 300px;
	margin: 30px auto;
	border: 3px solid #aaa;
	padding: 20px;
	border-radius: 5px;
}

#flashcard-a, .flashcard-a{
	font-size: 200%;
	font-weight: bold;
}

#flashcard-b, .flashcard-b{
	font-size: 110%;
	margin: 10px;
}

#next-button{
	font-size: 120%;
	color: #fff;
	background: #666;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	position: absolute;
	right: 0px;
	bottom: 10px;
}

#prev-button{
	display: inline-block;
	float: left;
}

#quiz-view{
	margin: 10px;
	padding: 20px;
}

/* Form */

.field{
	padding: 3px;
}

label{
	display: block;
	font-weight: bold;
	font-size: 80%;
}

input{
	padding: 3px;
	font-size: 120%;
	border: 1px solid #aaa;
}

input[type=submit]{
	color: white;
	margin: 5px;
	cursor: pointer;
}

input[type=submit]:hover{
	background: #000;
}


/* Quiz-view*/
#quiz-view{
	font-size: 120%;
}

#question{
	font-size: 200%;
}

#choices{
	margin: 10px;
	padding: 5px;
}

.choice{
	display: block;
	text-decoration: none;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;
}

.correct{
	background: #0f0;
}

.wrong{
	background: #f00;
	color: white;
}

.partial-remind{
	font-size: 90%;
}




/* ------------ Deck: flashcards*/

.card-hovered{
	background: #ffa;
}

.deck-flashcard-tools>a{
	vertical-align: top;
	display: inline-block;
	margin: 2px;
	padding: 3px;
}



.prepopulate{
	color: #af0;
}


.feedback-correct{
	color: #0a0;
	font-size: 150%;
}

.feedback-wrong{
	color: #f00;
	font-size: 150%;
}