/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
  background: #777;
  background-image: url('textures/cork_1.png');
}

/*= navigation =*/
#navigation{
	width: 100%;
	height: 50px;
	margin: 50px 0px;
	display: block;
	position: relative;
	background-image: url('textures/tex2res4.png');
	box-shadow: 0px 0px 15px #666;
}

#nav-wrapper{
	height: 40px;
	width: 800px;
	margin: 0px auto;
	padding: 3px 0 0 0;
	position: relative;
}

#nav-bar{
	margin-left: 0px;
	padding-left: 0px;
	vertical-align: top;
	display:inline-block;
}

#user-bar{
	position: absolute;
	right: 0px;
	vertical-align: top;
	display:inline-block;
}


#navigation li{
	height: 40px;
	vertical-align: top;
	display: inline-block;
	list-style: none;
	padding: 0px 5px;
	margin: 0px 10px;
}


#navigation a{
	color: #ccc;
	font-size: 125%;
	text-shadow: 1px 1px 13px #aaa;
}

#navigation a:hover{
	color: #fff;
	text-shadow: 1px 1px 13px #fff;
}

	#user-bar li:last-of-type a {
		font-style: italic;
	}
	#user-bar li:last-of-type a:hover {
		color: #DD0000;
	}


#logo{
	height: 150px;
	margin-top: -50px;
	
}

#logo-wrapper{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}

/*== Toolbar ==*/

#toolbar{
	margin: 45px auto;
	padding: 10px;
	text-align: center;
}

#toolbar a {
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	background-color: #AECD00;
	color: #fff;
	font-size: 1.2em;
	margin: 5px;
}

#toolbar a:hover{
	background-color: #D3E667;
}


/*= other templates =*/

#wrapper{	
	width: 800px;
	margin: 50px auto;
}

#header-title{
	font-family: Verdana, sans-serif;
	text-shadow: 2px 2px 5px #fff;
	font-size: 250%;
	color: #333;	
	text-align: center;
}

#content{
	width: 800px;
	margin: 20px 0px;
	padding: 0px;	
	position: relative;
}

#footer{
	color: #aaa;
	text-shadow: 2px 2px 5px #fff;
	text-align: right;
	margin: 10px 0px;
}


a{
	text-decoration: none;
}


.prepopulate{
	color: #999;
	background: #eee;
	
	border-radius: 5px;
	padding: 7px;
	width: 275px;
	margin: 0;
	font-size: 150%;
}


/*= New Deck =*/

#new_deck{
	margin: 10px;
	width: 100%;
}



/*= Decks =*/
#decks{
	margin: 20px auto;
}

.deck{
	position: relative;
	vertical-align: top;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	width: 350px;
	background-image: url('textures/light_wool.png');
	
	box-shadow: 1px -1px 3px #777,
				3px -3px 1px #fff,
				5px -5px 3px #777,
				7px -7px 1px #fff,
				9px -9px 3px #777,
				11px -11px 1px #fff,
				13px -13px 3px #777;
	
	-o-transition-property: box-shadow;
	-moz-transition-property: box-shadow;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	
}

.deck:hover{
	box-shadow: 1px 1px 15px #777;
	
	-o-transition-property: box-shadow;
	-moz-transition-property: box-shadow;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	
}

.deck-creator{
	clear: both;
	display: block;
	font-size: 95%;
	color: #777;
}

.deck-details{
	display: inline-block;
	padding: 5px 0px;
}

.deck-title{
	font-size: 150%;
	display: inline-block;
	font-weight: bold;
}

.deck-title a{
	color: #555;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;	
}

.deck-title a:hover{
	color: #001;
	text-shadow: 1px 1px 1px #ccc;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;	
}

.deck-count{
	display: inline-block;
	font-size: 150%;
/*	background: #fff;*/
	background-image: url('textures/dark_dotted.png');
	border: 1px solid #aaa;
	color: #fff;
	text-shadow: -1px -1px 2px #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin: 0px 15px 0px 5px;
	box-shadow: 1px 1px 2px #fff;
}



/*= Deck Flashcards*/

#deck-flashcards{
	display: block;
	margin:20px;
}

#deck-empty{
	color: #aaa;
	font-size: 150%;
	text-align: center;
	padding: 20px;
}

.deck-flashcard{
	position: relative;
	margin: 30px auto;
	padding: 10px;
	display: inline-block;
	width: 500px;
}

.deck-flashcard-tools{
	position: absolute;
	top: 20px;
	right: 30px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.deck-flashcard-tools>a{
	display: inline-block;
	vertical-align: top;
	padding: 2px;
}

.deck-flashcard-remove-confirm>a{
	color: #aaa;
	display: inline-block;
	padding: 2px;
	
}

.deck-flashcard-remove-confirm-yes:hover{
	color: #0a0;
}

.deck-flashcard-remove-confirm-no:hover{
	color: #a00;
}

.deck-flashcard-stats{
	margin: 20px 5px;
	vertical-align: top;
/*	position: absolute;*/
	position: relative;
}

.deck-flashcard-score{
	position: absolute;
	border: 1px solid #aaa;
	width: 70px;

	text-align: center;
	vertical-align: bottom;
	font-size: 150%;
	padding: 15px 5px;
	margin: 10px;
	right: -100px;
	top: -80px;
	border-radius: 10px;

	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3),
				1px 1px 1px rgba(255, 255, 255, 0.3);
	color: #fff;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
}


#deck-profile-left{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0px;
	padding: 0px;
}

#deck-profile-central{
	display: inline-block;
	vertical-align: top;
	width: 390px;
	margin: 0px;
	padding: 0px;	
}

#deck-profile-right{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	margin: 0px;
	padding: 0px;	
}

#deck-toolbar{
	font-weight: bold;
	font-size: 120%;
/*	position : absolute;
	top: -10px;
	right: 0px;
*/	padding: 0px;
	margin: 15px 0px;
}

#deck-toolbar li{
	display: inline-block;
	list-style: none;
	padding: 5px 10px;
	margin: 0px;
}

#deck-toolbar a{
	color: #aaa;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

#deck-toolbar a:hover{
	color: #000;
	text-shadow: 1px 1px 3px #aaa;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	
}


.deck-flashcard-viewcount{
	font-weight: bold;
	font-size: 150%;
	padding: 5px;
}

.subscript{
	font-size: 50%;
}

#form-flashcard-a {
	border-radius: 5px 5px 0px 0px;
	display: block;
	padding: 10px;
	width: 275px;
	margin: 0px;
	font-size: 200%;
}

#form-flashcard-b{
	margin: 0px;
	border-radius: 0px 0px 5px 5px;
	width: 275px;
	display: block;
	padding: 10px;	
	font-size: 110%;
	
}


#deck-flashcard-new{
	padding: 0px;
	margin: 20px auto;
	width: 400px;
}

#deck-flashcard-submit{
	display: inline-block;
}


#deck-edit{
	margin: 5px;
}

#deck-edit a{
	display: inline-block;
	margin: 5px;
}

/*= Deck Masters =*/
#deck-masters{
	position: relative;
	top: 10px;
	left: 10px;
}

.deck-master{
	margin: 20px 0px;
	font-size: 130%;
}

.deck-master>*{
	display: inline-block;
	vertical-align: top;
	margin: 2px 3px;
}

.deck-master-score{
	color: #555;
	font-size: 110%;
}

.deck-master-name a{
	color: #77a;	
	font-weight: bold;
}

.deck-master-name a:hover{
	color: #77f;	
	font-weight: bold;
}


.deck-master-date{
	font-size: 70%;
	color: #777;
}

/* Flashcard*/

#flashcard{
	width: 300px;
	margin: 30px auto;
	border: 3px solid #aaa;
	padding: 20px;
	border-radius: 5px;
	background: #eee;
	position: relative;
}

#flashcard-a{
	font-size: 200%;
	font-weight: bold;
}

#flashcard-b{
	font-size: 110%;
	margin: 10px;
}

.flashcard{
	width: 300px;
	margin: 0px auto;
	border: 1px solid #aaa;
	padding: 20px;
	
}

.flashcard,
#flashcard,
#quiz-view {
	border-radius: 5px;
	background-image: url('textures/light_wool.png');
	box-shadow: 0px 0px 15px #aaa;
}

.flashcard-a{
	font-size: 200%;
	font-weight: bold;
}

.flashcard-b{
	font-size: 130%;
	line-height: 25px;
	margin: 15px 5px;
}


#next-button{
	font-size: 120%;
	color: #fff;
	background: #0ad;
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	position: absolute;
	right: 30px;
	bottom: 30px;
}

#prev-button{
	display: inline-block;
	float: left;
}

#quiz-view{
	margin: 10px;
	padding: 20px;
}

/* Form */

.field{
	padding: 3px;
}

label{
	display: block;
	font-weight: bold;
	font-size: 80%;
}

input {
	padding: 3px;
	font-size: 120%;
	border: 1px solid #aaa;
}

input[type=submit]{
	text-align: center;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 10px 15px;
	background: #aaa;
	color: #fff;
	font-size: 1.2em;
	margin: 5px;
}

input[type=submit]:hover{
	background: rgba(175, 205, 0, 1);
}

#form-flashcard-submit {
	margin: 10px 0 0 0;
}

/* Quiz-view*/
#quiz-view{
	font-size: 120%;
}

#question{
	font-size: 200%;
}

#choices{
	margin: 10px;
	padding: 5px;
}

.choice{
	display: block;
	text-decoration: none;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 5px;
	color: #222;
	background-color: rgba(0, 0, 0, 0.1);
}

.choice:hover{
	color: #eee;
	background-color: rgba(0, 0, 0, 0.7);
}

.correct{
	background-color: rgb(175, 205, 0);
}

.wrong{
	background-color: #dd6600;
	color: white;
}

.partial-remind{
	font-size: 90%;
	color: #222;
	background-color: rgba(221, 102, 0, 0.1);
	padding: 0.5em 1em;
	border-radius: 5px;
	position: absolute;
		right: 1em;
		bottom: 1em;
}

#quiz-view{
	background: #eee;
	border-radius: 5px;
	border: 1px solid #aaa;
}


/* ------------ Deck: flashcards*/
.flashcard-div{
	padding: 20px 0px;
	margin: 0px;
	position: relative;
}

.card-hovered{
/*	background: #eee;*/
}

.deck-flashcard-tools{
	display: block;
	position: absolute;
	right: 0px;
	bottom: -30px;
}

.deck-flashcard-tools>a{
	vertical-align: top;
	display: inline-block;
	margin: 0px 10px;
	padding: 3px;
	font-size: 100%;
	color: #aaa;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

.deck-flashcard-tools>a:hover{
	color: #333;
	text-shadow: 1px 1px 5px #aaa;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}



.feedback-correct{
	color: #0a0;
	font-size: 150%;
}

.feedback-wrong{
	color: #f00;
	font-size: 150%;
}


/*= Message*/

#slide-messages{
/*	background-image: url('textures/project_paper.png');*/
	position: fixed;
	bottom: 0px;
	margin: 0px;
	width: 100%;
}

#header-messages{
	width: 100%;
	margin: 10px;
	border-radius: 10px;
}

#dismiss-messages-button{
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	font-size: 250%;
	display: inline-block;
	margin-right: 20px;
	color: #fff;
	float: right;
}

.messages{
	box-shadow: 0px 0px 5px #777;
	text-shadow: 1px 1px 3px #555;
	text-shadow: -1px -1px 1px #ccc;
	padding: 10px 0px;	
	text-align: center;
	font-size: 125%;	
	color: #fff;
/*	border-radius: 10px;*/
	
}

.hint{
	background: #0ad;
}

.error{
	background: #f50;
}

.warning{
	background: #c50;
}




/* EnTypo*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 10, 2012 */
/*http://bistro.convergencecms.co/entypo*/
/*http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/*/

.entypo{
	font-family: EntypoRegular;
	font-size: 20pt;
}

.icon{
	font-family: EntypoRegular;
	font-size: 180%;
}


.box-icon:before{
	content: '\00f2';
}

.edit-icon:before{
	content: '&';
}

.go-icon:before{
	content: '\00ee';
}

.alert-icon:before{
	content: 'c';
}

.add-list-icon:before{
	content: 'j';
}

.content-icon:before{
	content: 'i';
}


.loading-icon:before{
	content: 'R';
}


.link-icon:before{
	content: '>';
}


.back-icon:before{
	content: '(';
}

.search-icon:before{
	content: '\00f4';
	font-size: 300%;
}

.left-icon:before{
	content: '\00e5';
}

.right-icon:before{
	content: '\00e2';
}


.up-icon:before{
	content: '\00e3';
}

.down-icon:before{
	content: '\00e4';
}

.toread-icon:before{
	content: '\00f1';
}

.share-icon:before{
	content: '/';
}

.setting-icon:before{
	content: '@';
}

.profile-icon:before{
	content: ',';
}

.moon-icon:before{
	content: 'E';
}

.close-icon:before{
	content: '[';
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('entypo-webfont.eot');
    src: url('entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('entypo-webfont.woff') format('woff'),
         url('entypo-webfont.ttf') format('truetype'),
         url('entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*= Learn =*/

#learn-wrapper{
	width: 640px;
	margin: 30px auto;
	padding: 0px;
}

#learn-config{
	padding: 20px;
/*	background-image: url('textures/project_paper.png');*/
	background: #fff;
	position: relative;
	box-shadow: 0px 0px 20px #333;
	border-radius: 5px;
	margin: 10px 0px;
}

.learn-config-field{
	padding: 10px;
	display: block;
	margin: 10px 0px;
	border: 1px solid #ccc;
	position: relative;
	border-radius: 5px;
}

.learn-config-title{
	font-weight: bold;
	font-size: 125%;
	margin: 5px 0px;
}

#learn-begin-button{
	text-align: center;
	color: #eee;
	font-size: 1.3em;
	
	display: block;
	padding: 10px 10px;
	margin: 20px 0px;
	
	width: 40%;
	margin-left: 30%;

	background-color: #AECD00;
}

#learn-begin-button:hover{
	background-color: #D3E667;
}

.edit-object{
	display: inline-block;
}

.edit-button{
	text-align: left;
	display: inline-block;
	width: 30px;
	font-size: 50%;
	color: #aaa;
	
	margin-left: 0.5em;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	
}


.edit-button:hover{
	color: #aa5;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

.loading{
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	color: #aaa;
	text-shadow: 1px 1px 5px #ccc;
	text-shadow: -1px -1px 5px #fff;
}


/*= Progress =*/
#quiz-progress{
	width: 500px;
	height: 25px;
	background: #eee;
	margin: 0px auto;
	padding: 2px;
	
	border-radius: 4px;
	
	box-shadow: rgba(51, 51, 51, 0.6) 0px 0px 20px 0px;
	
}

.quiz-progress-item{
	display: inline-block;
	background: #333;
	height: 21px;
	margin: 1px;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid #ddd;
}

.quiz-progress-item:nth-of-type(1) {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.quiz-progress-item:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.quiz-progress-item>*{
	width: 100%;
	height: 100%;
}

.current{
	border: 1px solid #333;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.none{
	background: #fff;	
}

.full{
	background: #ccc;
}

.partial{
	background: rgb(155, 224, 252);
}

.partial-forgot{
	background: rgb(115, 184, 232);
}

.quiz{
	background: rgb(255, 246, 0);
}

.quiz-right{
	background: rgb(175, 205, 0);
}

.quiz-wrong{
	background: #d60;
}

.progress-caption{
	width: auto;
	height: auto;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 1px 1px 5px #ccc;
	position: absolute;
	z-index: 999;
	
}

#quiz-summary{
	width: 600px;
	margin: 10px auto;
	padding: 10px;	
}

#quiz-summary-title{
	font-size: 200%;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.quiz-summary-item{
	width: 590px;
	padding: 5px;
}

.quiz-summary-item>*{
	display: inline-block;
}

.quiz-summary-item-name{
	width: 200px;
	font-weight: bold;
	font-size: 120%;
	padding: 0px 10px;
	margin: 5px 10px;
}

.quiz-summary-item-score{
	width: 200px;
	margin: 0px;
	padding: 5px 0px;
	height: 30px;
}

.quiz-summary-item-score>*{
	display: inline-block;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.quiz-summary-item-rate{
	width: 30px;
	padding: 10px;
	font-size: 150%;
}

#quiz-timer{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 150%;
}

.quiz-timer-field{
	display: inline-block;
	text-align: center;
	padding: 10px;
}

.quiz-timer-subscript{
	font-size: 60%;
}

.timer-urgent{
	color: #ff0;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 1s;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
}

.timer-complete{
	color: #da0;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 1s;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	
}

/*= Landing Page =*/
#landing-left{
	display: inline-block;
	width: 350px;
}

#logo-image img{
	width: 350px;
}

#landing-right{	
	vertical-align: top;
	display: inline-block;
	width: 400px;
}

#slogan-div{
	font-weight: bold;
	position: relative;
	font-size: 180%;
	line-height: 50px;
	margin-top: 50px;	
	color: #777;
	text-shadow: 1px 1px 3px #fff,
				-1px -1px 1px #777;
	
}

#tatwo{
	color: #000;
}

#sign-up-div{
	box-shadow: 0px 0px 30px #777;
	border-radius: 15px;
	padding: 10px;
	margin: 15px auto;
	background: #eee;
	width: 300px;
	border: 2px solid #aaa;
}

#sub-logo{
	opacity: 0.5;
	text-shadow: 0px 0px 5px #aaa;
	display: block;
	position: relative;
	width: 250px;	
	margin: 0px auto;
/*	top: -100px;*/
}


/*= Prepopulated-Field*/
.prepopulated-field{
	height: 30px;
	position: relative;
	margin: 5px auto;
	padding: 10px 0px;
	width: 90%;
	font-size: 150%;
}

.prepopulated-field label{
	height: 30px;
	position: absolute;
	width: 100%;
	margin: 15px 5px;
	color: #bbb;
}

.prepopulated-field-focus label{
	color: #ddd;
	transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	-webkit-transition-property: color;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	
}

.prepopulated-field-focus input{
	box-shadow: 0px 0px 5px #aaa;
}

.prepopulated-field input{
	height: 30px;
	width: 100%;
	border-radius: 5px;
}

#sign-up-button{
	display: block;
	width: 80%;
	margin: 15px auto;
}

#log-in-button{
	display: inline-block;
	color: #fff;
	background: #0ad;
	padding: 3px 10px;
}


#log-in-button:hover{
	background: #07a;
}

#log-in-submit{
	height: 30px;
	width: 80%;
	margin: 10px auto;
	display: block;
	color: #fff;
	background: #0ad;
	padding: 5px 10px;
}

#log-in-submit:hover{
	background: #07a;
}

#log-in-hint{
	text-shadow: 1px 1px 1px #fff,
				 -1px -1px 1px #777;
	text-align: right;
}

#log-in-div{
	margin: 15px auto;
	width: 300px;
	padding: 15px;
	box-shadow: 0px 0px 10px #aaa;
	background: #eee;
	border-radius: 10px;
}


/*= Inline Edit Styles=*/
.edit-actions{
	font-size: 14pt;
}

.edit-actions a{
	display: inline-block;
	padding: 2px 5px;
	color: #555;
}

.edit-actions a:hover{
	color: #000;
}


.deck-actions{
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.deck-actions a{
	font-size: 1.2em;
	display: inline-block;
	padding: 5px 10px;
	color: #555;
}

	.deck-actions a:nth-of-type(1) {
		background-color: rgba(240, 170, 0, 0.5);
	}
	.deck-actions a:nth-of-type(2) {
		background-color: rgba(175, 205, 0, 0.5);
	}

.deck-actions a:hover{
	color: #000;	
}
	.deck-actions a:nth-of-type(1):hover {
		background-color: rgba(240, 170, 0, 1);
	}
	.deck-actions a:nth-of-type(2):hover {
		background-color: rgba(175, 205, 0, 1);
	}


/*= User Profile =*/
#user-profile{
	
}

#user-profile-name{
	font-size: 200%;
	text-shadow: 1px 1px 2px #aaa;
	padding: 10px 0 0 2em;
}

#user-profile-learnings{
	margin: 15px 0px;
}

.user-profile-learning{
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 0px 10px #aaa;
	background: #fff;
	margin: 10px;
	padding: 15px;
	width:  300px;
	border-radius: 5px;
	background-image: url('textures/light_wool.png');
	box-shadow: 0px 0px 15px #aaa;
}

.user-profile-learning-title a{
	font-size: 150%;
	color: #777;
	text-shadow: 1px 1px 2px #aaa;
	
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-property: color;
	-o-transition-duration: 0.5s;	
	-moz-transition-duration: 0.5s;	
	-webkit-transition-duration: 0.5s;	
	transition-duration: 0.5s;	
}

.user-profile-learning-title a:hover{
	
	
	text-shadow: 1px 1px 3px #777;
	color: #000;
}

.user-profile-learning-score{
	font-size: 150%;
	padding: 10px 0px;
	font-weight: normal;
	
	color: #444;
	text-shadow: 1px 1px 1px white,
				-1px -1px 1px rgba(0, 0, 0, 0.3);
				
	position: relative;
		top: 1.4em;
}
.user-profile-learning-score:after {
	content: 'learnt!';
	font-weight: normal;
	font-size: 0.8em;
	text-shadow: none;
}

.user-profile-learning-date {
	text-align: right;
	color: #444;
	font-size: 1.1em;
}

/* STYLES COMMON TO ALL BUTTONS */

#toolbar a,
#learn-begin-button,
#log-in-button,
#log-in-submit,
input[type=submit],
.deck-actions a,
#next-button {
	box-shadow: 1px 1px 3px #aaa;
	border: 1px solid #ccc;
	border-radius: 5px;
	
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3),
				-1px -1px 1px rgba(0, 0, 0, 0.2);
				
	/* W3C Standard notation after the browser-specific notations , so browsers start using this one instead of the browser-specific ones when they learn it. */
	/* No need to put the transition in the :hover state to make it both ways */
	-o-transition-property: background, background-color;
	-moz-transition-property: background, background-color;
	-webkit-transition-property: background, background-color;
	transition-property: background, background-color; 
	-o-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}


#toolbar a:hover,
#learn-begin-button:hover,
#log-in-button:hover,
#log-in-submit:hover,
input[type=submit]:hover,
.deck-actions a:hover,
#next-button:hover {
	border: 1px solid #aaa;
	box-shadow: 1px 1px 2px #fff;
}


