/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

*/


/* ####### ##### */
/* GENERIC STUFF */

body {
	background-color: grey;
	background-image: url('textures/furley_bg.png');
	font-family: 'Palatino Linotype', 'Palatino', serif;
	width: 700px;
	margin: auto;
}

a{
	color: #777;
	text-decoration: none;
}

a:hover{
	color: #222;
}



/* ##########*/
/* NAVIGATION */

#navigation {
	margin: 0;
	padding: 0;
	background-color: #444;
	background-image: url('textures/broken_noise.png');
	
	position: relative;
		z-index: 10;
	
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
}

#logo-wrapper {
	position: relative;
		top: 5px;
		left: 5px;
}

#navigation ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#nav-bar {
	padding: 0 0.5em 0 10em !important;
	border-right: 1px solid #666;
}


#navigation li{
	display: inline-block;
	list-style-type: none;
	padding: 0 0 10px 0;
	margin: 0;
	
	font-size: 120%;
}

#navigation li a {
	color: #DDD;
	padding: 7px 7px 5px 7px;
}
#navigation li a:hover {
	color: #222;
	background-color: #FEFEF9;
	border-radius: 3px;
	
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) inset;
}



/* ####### */
/* WRAPPER */

#wrapper {
	margin: 0px;
	background-color: #FEFEF9;
	
	position: relative;
		z-index: 5;
		
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


#content{
	margin: 0px;
	padding: 10px;	
	position: relative;
}

#header-title {
	width: 50%;
	
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #444;
	
	text-shadow: 1px 1px 1px white,
				-1px -1px 1px rgba(0, 0, 0, 0.3);
}

#footer{
	text-align: right;
	float: right;
	margin: 10px 0px;
	padding-top: 10px;
	
	width: 10em;
	
	border-top: 1px solid #aaa;
	
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3),
				-1px -1px 1px rgba(0, 0, 0, 0.1);
}

#new-deck{
	margin: 10px;
	width: 100%;
	text-align: right;
}


#decks{
	margin: 20px;
}

.deck{
	display: inline-block;
	padding: 10px 5px 10px 5px;
	margin: 10px;
	border-radius: 5px;
	width: 280px;
	
	background-color: white;
	background-image: url('textures/exclusive_paper.png');
	
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3),/*Floating paper*/
				1px 1px 1px rgba(255, 255, 255, 0.5) inset,
				-1px -1px 1px rgba(0, 0, 0, 0.6) inset;
				
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
				-1px -1px 1px rgba(0, 0, 0, 0.3);
}

.deck-details{
	padding: 5px 0px;
	margin-left: 10px;
}
.deck-edit{
	font-size: 80%;
}

.deck-title{
	width: 90%;
	font-size: 150%;
	display: inline-block;
	font-weight: bold;
	margin: 0.5em 0 0.4em 0.5em;
}
.deck-title a {
	color: #222;
	color: #222;
}
.deck-title a:hover {
	color: #777;
}

.deck-count{
	display: inline-block;
	font-size: 150%;
	background: #aaa;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding: 3px;
	
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

#deck-flashcards{
	display: block;
	margin:20px;
}

#deck-empty{
	color: #aaa;
	font-size: 150%;
	text-align: center;
	padding: 20px;
}

.deck-flashcard{
	margin:10px;
	padding: 0px;
	display: inline-block;
	width: 500px;
}

.deck-flashcard-stats{
	margin: 20px 5px;
	vertical-align: top;
	display: inline-block;
}

#deck-toolbar{
	font-weight: bold;
	font-size: 120%;
	position : absolute;
	top: -10px;
	right: 0px;
	padding: 0px;
	margin: 15px 0px;
}

#deck-toolbar li{
	display: inline-block;
	list-style: none;
	padding: 2px;
	margin: 0px;
}

#deck-toolbar li a {
	padding: 7px 7px 5px 7px;
	border-radius: 3px;
}
#deck-toolbar li a:hover {
	background-color: #333;
	color: white;
}

.deck-flashcard-viewcount{
	font-weight: bold;
	font-size: 150%;
	padding: 5px;
}

.subscript{
	font-size: 50%;
}

.deck-flashcard-a{
	border-radius: 5px 5px 0px 0px;
	text-align: left;
	color: white;
	padding: 10px;
	background: #aaa;
}

#form-flashcard-a{
	border-radius: 5px 0px 0px 0px;
	display: block;
	text-align: left;
	
	font-family: Verdana, sans-serif;
	color: white;
	padding: 10px;
	background: #aaa;
	width: 94%;
	max-width: 94%;
	margin: 0px;
	
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
}


.deck-flashcard-b{
	border-radius: 0px 0px 5px 5px;
	text-align: left;
	color: white;
	padding: 10px;	
	background: #555;
}

#form-flashcard-b{
	margin: 0px;
	border-radius: 0px 0px 0px 5px;
	width: 94%;
	max-width: 94%;
	display: block;
	text-align: left;
	
	font-family: 'Palatino Linotype', Palatino, serif;
	font-size: 120%;
	color: white;
	
	padding: 10px;	
	background: #555;
	
	border: none;
	box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5) inset;
}

#deck-flashcard-new{
	padding: 0px;
	margin: 20px;
}

#deck-flashcard-submit{
	display: inline-block;
}


#deck-edit{
	margin: 5px;
}

#deck-edit a{
	display: inline-block;
	margin: 5px;
}

.deck-creator{
	clear: both;
	display: inline-block;
	font-size: 100%;
	color: #888;
	
	width: 90%;
	text-align: right;
}

/* FLASHCARD*/
	
	#flashcard, .flashcard,
	#next-button, #form-flashcard-submit{
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),/*Floating paper*/
					1px 1px 1px rgba(255, 255, 255, 0.3) inset,
					-1px -1px 1px rgba(0, 0, 0, 0.5) inset;
					
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
					-1px -1px 1px rgba(0, 0, 0, 0.3);
	}
	
	#flashcard, .flashcard, .choice{
		width: 350px;
		margin: 30px 50px 30px 70px;
		padding: 1em;
		
		color: #222;

		background-color: #DDD;
		background-image: url('textures/exclusive_paper.png');
		
		border-bottom-left-radius: 0.5em;
		border-top-left-radius: 0.5em;
		
		position: relative;
	}
	
	#flashcard-a, 
	.flashcard-a,
	#flashcard-b, 
	.flashcard-b {
		margin: 0.5em;
	}
	#flashcard-a, .flashcard-a{
		font-size: 200%;
		font-weight: bold;
		
		font-family: Verdana, sans-serif;
	}
	
	#flashcard-b, .flashcard-b{
		font-size: 200%;
		
		font-family: "Palatino Linotype", Palatino, serif;
	}
	
	#next-button, #form-flashcard-submit{
		font-family: Palatino, sans-serif;
		font-size: 150%;
		color: #0D8800;
		background: rgba(116, 233, 104, 0.8);
		padding: 11px 15px 8px 15px;
		border-radius: 0px;
		border-bottom-right-radius: 0.5em;
		border-top-right-radius: 0.5em;
		
		display: inline-block;
		position: absolute;
			left: 20em;
			bottom: 1.7em;

	}
	#quiz-view #next-button {
		margin-left: 1rem;
	}
	#form-flashcard-submit {
		position: absolute;
			left: 16.5em;
			top: 84px;
			
		height: 2em;
	}
	#next-button:hover,
	#form-flashcard-submit:hover {
	
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5),/*Floating paper*/
					1px 1px 1px rgba(255, 255, 255, 0.5) inset,
					-1px -1px 1px rgba(0, 0, 0, 0.5) inset,
					0px 0px 20px rgba(0, 255, 0, 0.5);
	}
	
	#prev-button{
		display: inline-block;
		float: left;
	}
	
	#quiz-view{
		margin: 10px;
		padding: 20px;
	}
	
	.feedback-correct, .feedback-wrong {
		padding-left: 2em;
		
		font-family: Verdana, sans-serif;
		font-size: 1.2em;
		font-style: italic;
		
		text-shadow: 1px 1px 1px white,
					-1px -1px 1px rgba(0, 0, 0, 0.3);
	}
	.feedback-correct {
		color: #009900;
	}
	.feedback-wrong {
		color: #990000;
	}
	
/* FORM */
	
	.field{
		padding: 3px;
	}
	
	label{
		display: block;
		font-weight: bold;
		font-size: 80%;
	}
	
	input{
		padding: 3px;
		font-size: 120%;
		border: 1px solid #aaa;
	}
	
	input[type=submit]{
		color: white;
		margin: 5px;
		cursor: pointer;
	}
	
	input[type=submit]:hover{
		background: #000;
	}
	
	
/* QUIZ-VIEW */
	#quiz-view{
		font-size: 120%;
		width: 20em;
	}
	
	#question{
		font-size: 200%;
		
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
					-1px -1px 1px rgba(0, 0, 0, 0.3);
	}
	#question:after {
		content: ':';
	}
	
	#choices{
		margin: 10px;
		padding: 5px;
		
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4),
					-1px -1px 1px rgba(0, 0, 0, 0.2);
		
	}
	
	.choice{	
		display: block;
		text-decoration: none;
		margin: 10px 0px;
		padding: 20px 15px 20px 15px;
		border-radius: 5px 0 0 5px;
		background-image: url('../images/exclusive_paper.png');
		
		color: #222;
		
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3),/*Floating paper*/
					1px 1px 1px rgba(255, 255, 255, 0.5) inset,
					-1px -1px 1px rgba(0, 0, 0, 0.4) inset;
	}
	.choice:hover {
		color: #777;
	}
	
	.correct{
		background: #74E868;
	}
	.wrong{
		background: #FF9473;
	}
	
	.correct:hover, .wrong:hover {
		color: white;
	}
	
	.partial-remind{
		font-size: 120%;
		color: #888;
		margin-left: 2em;
	}
	
	#quiz-view #next-button{
		
		display: inline-block;
		position: relative;
			left: 14em;
			bottom: 2.7em;
	}

/* ####### ########## */
/* New Deck Page */
form#new_deck, form#edit_user_1 {
	margin: 5em;
}

#deck_title, input[id="user_name"] {
	color: #999;
	border: none;
	background-color: #555;
	
	padding: 7px;
	
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) inset;
}
input[name="commit"] {
	border: none;

	padding: 7px;
	
	color: #0D8800;
	background: rgba(116, 233, 104, 0.8);
	
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),
				1px 1px 1px rgba(255, 255, 255, 0.5) inset,
				-1px -1px 1px rgba(0, 0, 0, 0.3) inset;
				
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5),
				-1px -1px 1px rgba(0, 0, 0, 0.3);
}
input[name="commit"]:hover {
	background-color: rgba(116, 233, 104, 1);
}



