<% content_for(:head) do%>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$(".flashcard").each(function(i){
				var flashcard = this;
				$(flashcard).find(".flashcard-b").hide();
				$(flashcard).find(".partial-remind").click(function(e){
					e.preventDefault();
					$(this).hide();
					$(flashcard).find(".flashcard-b").fadeIn();
				})
			})
		});
	</script>
<% end %>


partial

<div id="partial-view">
	<% @flashcards.each do |flashcard| %>
		<div class="flashcard">
			<div class="flashcard-a"><%= flashcard.side_a%></div> <a href="#" class="partial-remind">remind me</a> <div class="flashcard-b"><%= flashcard.side_b%></div>
		</div>
	<% end %>

	<%= link_to 'next', learn_deck_path(@deck), :id => 'next-button' %>
</div>
