<% content_for(:head) do%>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var deck_id = $("#deck-id").text();
			$("#deck-flashcards").loadFlashcards(deck_id);
			var new_flashcard = $("#deck-flashcard-new");
			if ($(new_flashcard).length > 0){
				$(new_flashcard).loadFlashcardsForm(deck_id);
			}
		});
	</script>
<% end %>

<% content_for :header_title do%>
	<%= @deck.title %>
<% end %>

<ul id="deck-toolbar">
	<% if current_user%>
		<% if @deck.flashcards.count >= 3%>
			<li>
				<%= link_to 'learn', learn_deck_path(@deck) %>
			</li>
		<% end %>
		<li id="deck-edit">
			<%= link_to 'edit', edit_deck_path(@deck) %>
		</li>
	<% end %>	
</ul>


<% if current_user==@deck.user%>
	<div id="deck-flashcard-new"> 
	</div>
<% end %>

<div id="deck-flashcards">
	<div id="deck-id" style="display:none;"><%= @deck.id%></div>
</div>
