<% content_for(:head) do%>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			var deck_id = $("#deck-id").text();
			$("#deck-flashcards").loadFlashcards(deck_id);
			var new_flashcard = $("#deck-flashcard-new");
			if ($(new_flashcard).length > 0){
				$(new_flashcard).loadFlashcardsForm(deck_id);
			}
			if ($('#deck-flashcard-new').length==0){
				$('.edit-button').hide();
			}
			
					
			
		});
	</script>
<% end %>

<% content_for :header_title do%>
	<div class="edit-div">	
		<div class="edit-object"
			><%= @deck.title %>
		</div>
		<a href="#" class="edit-button">
			<span class="icon edit-icon"></span><span class="edit-hint">edit</span>
		</a>
	</div>
<% end %>

<% content_for :toolbar do%>
	<% if current_user%>
		<% if @deck.flashcards.count >= 3%>
			<%= link_to 'Start Learning', prepare_learn_deck_path(@deck) %>
		<% end %>
	<% end %>
<% end %>

<div id="deck-profile">
	<% if current_user==@deck.user%>
		<div id="deck-flashcard-new"> 
		</div>
	<% end %>

	<div id="deck-flashcards">
		<div id="deck-id" style="display:none;"><%= @deck.id%></div>
	</div>
</div>